/* Scoreboard.css */

.scoreboard {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(54, 54, 54);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: black;
    min-width: 275px;
    min-height: 255px;
    /* Each scoreboard takes x% width minus gap */
    margin-bottom: 5px;
    /* Ensure a gap between rows */
}

.team {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.team img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.team .info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.team h2 {
    margin: 0;
    font-size: 20px;
    color: white;
}

.team p {
    margin: 0;
    font-size: 16px;
    color: white;
}

.versus {
    font-size: 22px;
    margin: 10px 0;
    color: white;
    text-align: center;
}

.game-details p {
    font-size: 16px;
    color: white;
    text-align: center;
}

.game-clock {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.score {
    font-size: 30px;
    font-weight: bold;
    margin-left: 5px 0;
    color: white;
    text-align: right;
    width: 100%
}

.poss {
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: right;
    width: 25%;
}
