/* Scoreboard.css */

.scoreboard {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(54, 54, 54);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: black;
    min-width: 274px;
    min-height: 300px;
    max-width: 274px;
    max-height: 300px;
    margin-bottom: 4px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.scoreboard:hover {
    box-shadow: 0 0 11px rgb(255, 255, 255);
}

.scoreboard.expanded {
    min-height: 625px;
    max-width: 275px;
    max-height: 650px;
    overflow-y: auto;
    width: 100%;
}

.scoreboard.expanded .stats {
    display: block;
}

.additional-info {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    align-items: center;
}

.team img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.team .info {
    display: flex;
    flex-direction: column;
    text-align: left;
    text-wrap: nowrap;
}

.team h2 {
    margin: 0;
    font-size: 20px;
    color: white;
}

.team p {
    margin: 0;
    font-size: 16px;
    color: white;
}

.versus {
    font-size: 22px;
    margin: 10px 0;
    color: white;
    text-align: center;
}

.game-details p {
    font-size: 16px;
    color: white;
    text-align: center;
}

.game-clock {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.score {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: right;
    width: 100%
}

.poss {
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: right;
    width: 25%;
}

.stats {
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.stat {
    margin-top: 10px;
    font-size: 16px;
    color: white;
    text-align: center;
    text-wrap: wrap;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(54, 54, 54);
}

.top-bar title {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

.top-bar button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
}

.top-bar button:last-child {
    margin-right: 0;
}